.feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 220px;

  @media (max-width: 1024px) {
    width: 250px;
    padding: 18px;
  }

  @media (max-width: 768px) {
    width: 220px;
    padding: 15px;
  }

  @media (max-width: 480px) {
    padding: 12px;
  }
}

.icon_wrapper {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 50px;
    height: 50px;
    filter: brightness(0) contrast(50%); // contrast 속성을 이용하여 선명도 변경

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }

    @media (max-width: 480px) {
      width: 35px;
      height: 35px;
    }
  }

  @media (max-width: 768px) {
    padding: 25px;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}

.feature_name {
  margin-top: 30px;

  span {
    font-size: 20px;
    color: #1d1d1f;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.feature_description {
  margin-top: 10px;

  span {
    font-size: 13px;
    font-family: Pretendard-Light;
    color: #1d1d1f;
    line-height: 1.4;
  }

  @media (max-width: 768px) {
    font-size: 13px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
  }
}
