.page_subtitle {
  display: grid;
  justify-content: center;
  margin-top: 60px;

  p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    color: #1d1d1f;

    @media (max-width: 768px) {
      margin-right: 38px;
      margin-left: 38px;
      line-height: 1.4;
    }

    @media (max-width: 425px) {
      margin-right: 10px;
      margin-left: 10px;
      font-size: clamp(13px, 2vw, 16px);
      line-height: 1.4;
    }
  }
}

.series_title {
  margin-top: 100px;
  text-align: center;
  color: #1d1d1f;

  span {
    font-family: Pretendard-Bold;
    font-size: 40px;

    @media (max-width: 768px) {
      font-size: clamp(35px, 2vw, 35px);
    }

    @media (max-width: 425px) {
      font-size: clamp(30px, 2vw, 35px);
    }
  }
}

.series_card {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 100%;

  @media (max-width: 425px) {
    margin-top: 120px;
  }

  .card {
    width: calc(25% - 20px); // 기본적으로 한 줄에 4개
    max-width: 250px;

    @media (max-width: 1024px) {
      width: calc(50% - 20px); // 768px 이하에서는 2개씩 정렬
      max-width: 270px;
    }

    @media (max-width: 768px) {
      width: calc(50% - 20px) !important; // 768px 이하에서는 2개씩 정렬
      max-width: 240px;
    }

    @media (max-width: 425px) {
      width: 100%; // 480px 이하에서는 1개씩 정렬
      max-width: 200px;
    }
  }
}

.video {
  margin-top: 150px;
}

.feature_title {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  text-align: center; /* 텍스트 자체 정렬 */
  width: 100%; /* 전체 너비 사용 */
  height: auto; /* 필요에 따라 높이 조정 */
  margin-top: 150px;

  span {
    font-family: Pretendard-Bold;
    font-size: 40px;
    color: #1d1d1f;

    @media (max-width: 425px) {
      margin: auto;
      font-size: clamp(32px, 2vw, 40px);
      line-height: 1.4;
    }
  }
}
