.page_subtitle p {
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
}

.minicobo_info {
  display: flex;
  margin: 30px 20px;
  border: 1px solid #dddddd;
  border-radius: 9px;
  overflow: hidden; /* 요소가 넘치지 않도록 처리 */
  align-items: center;
  justify-content: space-between; /* 내용이 정렬되도록 */
  gap: 20px; /* 요소 간 간격 추가 */
  padding: 20px;
}

/* 이미지 컨테이너 */
.minicobo_img {
  flex: 1;
  flex-basis: 50%;
  max-width: 40%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.feature_title {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.product_title {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;

  @media (max-width: 1024px) {
    margin-top: 100px;
  }

  @media (max-width: 768px) {
    margin-top: 80px;
  }

  @media (max-width: 480px) {
    margin-top: 60px;
  }
}

.chart_img {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  img {
    width: 1300px;
    max-width: 100%; // 화면 크기에 맞게 조정

    @media (max-width: 1024px) {
      width: 1000px;
    }

    @media (max-width: 768px) {
      width: 700px;
    }

    @media (max-width: 480px) {
      width: 100%; // 모바일에서는 가득 차게 표시
    }
  }
}
