.page_subtitle {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  span {
    font-size: 16px;
    color: #1d1d1f;
    text-align: center;
    line-height: 1.4;
  }
}

.feature_title {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  span {
    font-size: 40px;
    font-family: Pretendard-Bold;
  }
}

.comparison_title {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  span {
    font-size: 40px;
    font-family: Pretendard-Bold;
    color: #1d1d1f;
  }

  @media (max-width: 1024px) {
    margin-top: 100px;
  }

  @media (max-width: 768px) {
    margin-top: 80px;
  }

  @media (max-width: 480px) {
    margin-top: 60px;
  }
}

.comparison_img {
  display: flex;
  justify-content: center;
  margin-top: 93px;

  img {
    width: 1300px;
    max-width: 80%; // 화면 크기에 맞게 조정

    @media (max-width: 1024px) {
      width: 1000px;
    }

    @media (max-width: 768px) {
      width: 700px;
    }

    @media (max-width: 480px) {
      width: 100%; // 모바일에서는 가득 차게 표시
    }
  }
}
