.page_subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;

  p {
    font-size: 16px;
    text-align: center;
    margin: 0;
    line-height: 1.4;
    color: #1d1d1f;

    @media (max-width: 768px) {
      margin-right: 13px;
      margin-left: 13px;
      line-height: 1.4;
    }

    @media (max-width: 425px) {
      margin-right: 10px;
      margin-left: 10px;
      font-size: clamp(14px, 2vw, 16px);
      line-height: 1.4;
    }
  }
}

.series_card {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; // 카드 사이의 간격 추가
  justify-content: center;
  width: 100%;

  .card {
    width: calc(25% - 20px); // 기본적으로 한 줄에 4개
    max-width: 250px;

    @media (max-width: 1024px) {
      width: calc(50% - 20px); // 768px 이하에서는 2개씩 정렬
      max-width: 270px;
    }

    @media (max-width: 768px) {
      width: calc(50% - 20px) !important; // 768px 이하에서는 2개씩 정렬
      max-width: 240px;
    }

    @media (max-width: 480px) {
      width: 100%; // 480px 이하에서는 1개씩 정렬
      max-width: 200px;
    }
  }
}

.video {
  margin-top: 150px;
}

.comparison_title {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  @media (max-width: 1024px) {
    margin-top: 100px;
  }

  @media (max-width: 768px) {
    margin-top: 80px;
  }

  @media (max-width: 425px) {
    margin-top: 80px;
  }

  span {
    font-family: Pretendard-Bold;
    font-size: 40px;
    color: #1d1d1f;

    @media (max-width: 425px) {
      font-size: clamp(30px, 2vw, 35px);
    }
  }
}

.comparison_img {
  display: flex;
  justify-content: center;
  margin-top: 94px;

  img {
    width: 1300px;
    max-width: 80%; // 화면 크기에 맞게 조정

    @media (max-width: 1024px) {
      width: 1000px;
    }

    @media (max-width: 768px) {
      width: 700px;
    }

    @media (max-width: 425px) {
      width: 100%; // 모바일에서는 가득 차게 표시
    }
  }
}
