.menu_tab {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 100px;

  .tab_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1d1d1f;
    cursor: pointer;
    border: 1px solid #dddddd;

    &.active {
      background-color: #69318F;
      color: #ffffff;
    }

    &:hover {
      background-color: #69318F;
      color: #ffffff;
    }
  }
}

@media (max-width: 1024px) {
  .menu_tab {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 80%;

    .tab_item {
      padding: 18px 0;
    }
  }
}

@media (max-width: 768px) {
  .menu_tab {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}
