.description {
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #1d1d1f;

  p {
    text-align: center;
    margin: 3px 0;
    font-size: 16px;
    color: #1d1d1f;
  }

  @media (max-width: 1024px) {
    margin-top: 80px;
  }
}
