.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  padding: 30px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  }
}

.card {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  height: 100%;
  width: 100%;
  max-width: 220px;

  @media (max-width: 768px) {
    width: 100vw;
    max-width: 240px;
    height: auto;
    padding: 8px;
  }

  @media (max-width: 480px) {
    max-width: 200px;
    padding: 6px;
  }
}

.series_name {
  span {
    font-family: Pretendard-Bold;
    color: #c6001d;
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 480px) {
  }
}

.series_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 30px;

  img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;

    @media (max-width: 768px) {
      height: 80px;
    }

    @media (max-width: 480px) {
      height: 60px;
    }
  }
}

.series_description {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 14px;
  }
}

.series_more {
  display: flex;
  align-items: center;
  margin: 24px auto;
  cursor: pointer;

  span {
    font-size: 20px;
    color: #c6001d;

    @media (max-width: 768px) {
    }

    @media (max-width: 480px) {
    }
  }
}
