.product_container {
  margin-top: 60px;

  @media (max-width: 768px) {
    margin-top: 80px;
  }

  @media (max-width: 480px) {
    margin-top: 60px;
  }
}

.product_info {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  border: 1px solid #dddddd;
  border-radius: 9px;
  overflow: hidden; // 요소가 넘치지 않도록 처리
  color: #1d1d1f;

  @media (max-width: 768px) {
    flex-direction: column; // 작은 화면에서는 세로 배치
    align-items: center;
    text-align: center;
  }
}

.product_img {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; // 이미지가 너무 작아지지 않도록 방지
  object-fit: contain;
  margin-top: 20px;
  margin-left: 50px;

  img {
    width: auto;
    height: 400px;

    @media (max-width: 1024px) {
      height: 350px;
      margin-left: 50px;
    }

    @media (max-width: 768px) {
      height: 300px;
      margin-left: 0;
    }

    @media (max-width: 480px) {
      height: auto;
      width: 100%;
      max-width: 300px;
      margin-left: 0;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    width: 100%; // 작은 화면에서는 가득 차게 표시
  }
}

.product_about {
  margin-top: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 16px;
    line-height: 1.4;
    font-family: Pretendard-Light;
  }

  @media (max-width: 1024px) {
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    width: 90%; // 화면이 줄어들면 너비 확대
    margin: 20px auto 20px auto;
    text-align: center;
  }

  @media (max-width: 480px) {
    width: 100%;
    margin: 15px auto 15px auto;
  }
}
