.header {
  padding-top: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo img {
  width: 157px;
  height: 31px;
  padding-left: 15vw;
}

/* 네비게이션 공통 스타일 */
.nav {
  padding-right: 12vw;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .navItem {
    position: relative;
    padding-top: 10px;
    padding-right: 2vw;
    padding-left: 2vw;

    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: #1b1b1b;
    }

    .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 200px;

      .dropdownItem {
        padding: 10px;
        padding-bottom: 10px;
        text-align: center;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    &:hover .dropdown {
      display: block;
    }
  }

  /* 언어 선택 스타일 */
  .languageSelector {
    position: relative;
    padding-top: 10px;
    padding-right: 2vw;
    padding-left: 2vw;
    cursor: pointer;

    button {
      background: none;
      border: none;
      font-size: 18px;
      font-weight: 600;
      padding: 0;
      cursor: pointer;
    }
  }

  .languageDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    z-index: 100;
    flex-direction: column;

    li {
      flex-direction: row;
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

/* 모바일 네비게이션 스타일 */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.navClosed {
  display: none;
}

.navOpen {
  display: block;
  position: absolute;
  top: 88px;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;

  ul {
    flex-direction: column;
  }

  .navItem {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    .dropdown {
      padding-left: 180px;
      position: static;
      display: block;
      background: none;
      box-shadow: none;
    }
  }
}

.logoMobile {
    width: 157px;
    height: 31px;
    padding-left: 10px;
}

