.scroll_to_top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #353535;
  cursor: pointer;

  z-index: 9999;

  &:hover {
    color: #a5a5a5;
  }

  @media (max-width: 768px) {
    bottom: 7px;
    right: 7px;
  }
}
